*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(135deg,#0f172a,#1e1b4b,#312e81);
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
}

.login-container{
width:100%;
max-width:380px;
background:rgba(255,255,255,0.08);
backdrop-filter:blur(15px);
border:1px solid rgba(255,255,255,0.15);
border-radius:25px;
padding:30px 25px;
box-shadow:0 10px 30px rgba(0,0,0,.4);
}

.logo-box{
text-align:center;
margin-bottom:30px;
}

.logo-box h1{
font-size:36px;
color:#fff;
font-weight:700;
}

.logo-box p{
color:#cbd5e1;
margin-top:8px;
font-size:15px;
}

.input-box{
position:relative;
margin-bottom:20px;
}

.input-box input{
width:100%;
padding:15px 45px;
border:none;
outline:none;
border-radius:14px;
background:rgba(255,255,255,.12);
color:#fff;
font-size:15px;
}

.input-box input::placeholder{
color:#cbd5e1;
}

.input-box .fa-envelope,
.input-box .fa-lock{
position:absolute;
left:15px;
top:50%;
transform:translateY(-50%);
color:#cbd5e1;
}

#togglePassword{
position:absolute;
right:15px;
top:50%;
transform:translateY(-50%);
color:#cbd5e1;
cursor:pointer;
}

.options{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:22px;
font-size:13px;
color:#fff;
}

.options label{
display:flex;
align-items:center;
gap:5px;
}

.options a{
color:#8b5cf6;
text-decoration:none;
}

.login-btn{
width:100%;
padding:15px;
border:none;
border-radius:14px;
background:#7c3aed;
color:#fff;
font-size:16px;
font-weight:600;
cursor:pointer;
transition:.3s;
}

.login-btn:hover{
background:#6d28d9;
}

.signup-text{
margin-top:20px;
text-align:center;
color:#cbd5e1;
font-size:14px;
}

.signup-text a{
color:#8b5cf6;
text-decoration:none;
font-weight:600;
}

@media(max-width:480px){

.login-container{
padding:25px 20px;
}

.logo-box h1{
font-size:30px;
}

}